@use '../../styles/variables' as *;

.react-responsive-modal {
  &-modal {
    padding: 70px 50px 50px;
    border-radius: 4px;
    max-width: 300px;
    text-align: center;

    & p {
      font-family: $main-font;
      font-size: 1rem;

      &:first-of-type {
        font-size: 1.2rem;
        font-weight: 700;
        color: $complementary-primary;
      }

      &:last-of-type {
        margin-bottom: 20px;
      }
    }

    &-closeButton {
      background-color: $complementary-primary;
      border-radius: 4px;
      padding: 5px;
      fill: white;
      top: 20px;
      right: 20px;
    }
  }
}
