@use '../../../../styles/variables' as *;

.modalButton {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  width: 110px;
  height: 40px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;

  &--confirm {
    background-color: $primary-color;
  }
  &--cancel {
    background-color: $complementary-primary;
  }

  &:hover {
    transform: scale(0.95);
  }
}
