@use '../../styles/variables' as *;

.mainheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 0 30px;

  &__brand {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @media screen and (min-width: 900px) {
      margin-bottom: 0;
    }

    &--logo {
      width: 40px;
      height: 40px;

      @media screen and (min-width: 900px) {
        width: 55px;
        height: 55px;
      }
    }

    &--text {
      color: $primary-color;
      font-size: 3rem;
      font-weight: 700;

      @media screen and (min-width: 900px) {
        font-size: 4rem;
      }
    }
  }

  &__nav {
    display: flex;
    gap: 15px;

    @media screen and (min-width: 900px) {
      gap: 60px;
    }

    &--link {
      font-weight: 700;
      color: $primary-color;
      font-size: 1rem;

      @media screen and (min-width: 900px) {
        font-size: 1.2rem;
      }

      &.active {
        text-decoration: underline;
      }

      &:hover {
        color: $third-color;
      }
    }
  }

  @media screen and (min-width: 550px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
