@use '../../styles/variables' as *;

.dataTable_container {
  max-width: 1200px;
}
.sortedBy {
  // background-color: grey;
  position: relative;
}
.sortedBy:not(.rdt_TableCol_Sortable)::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
  opacity: 0.1;
  width: 100%;
  height: 100%;
}
